---
import Grid from "../../components/GridBook.astro";
import MainLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const books = (await getCollection("libros")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout
  title="Libros"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <main>
    <section>
      <h1 class="warp">Libros</h1>
    </section>
    <section>
      <Grid>
        {
          books.map((book) => (
            <article class="card">
              <img src={book.data.coverBook} alt={book.data.title} />
              <div class="content">
                <a href={`/libros/${book.slug}/`}>
                  <h2>{book.data.title}</h2>
                </a>
              </div>
            </article>
          ))
        }
      </Grid>
    </section>
  </main>
</MainLayout>

<style>
  .content {
    position: absolute;
    right: var(--size-fluid-1);
    left: var(--size-fluid-1);
    bottom: var(--size-fluid-1);
    padding-top: var(--size-5);
    padding-bottom: var(--size-5);
    padding-left: var(--size-6);
    padding-right: var(--size-6);
    margin: var(--size-2);
    border-radius: var(--size-2);
    height: max-content;
    background-color: var(--surface-1);
    visibility: hidden;
    animation-duration: 0.5s;
  }

  /* .card:hover .content {
    visibility: visible;
  } */

  .card {
    position: relative;
    box-shadow: var(--shadow-2);
    background-color: var(--surface-2);
    color: var(--text-2);
    margin-inline: auto;
    padding: var(--size-fluid-1);
    border: var(--border-size-1) solid var(--surface-2);
    border-radius: var(--radius-3);
    overflow: hidden;

    &:hover {
      border: var(--border-size-1) solid var(--surface-3);
      background-color: var(--surface-1);
      box-shadow: var(--shadow-5);
    }
    &:hover .content {
      visibility: visible;
      animation: var(--animation-slide-in-up) forwards;
    }
  }

  h2 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-6);
    text-wrap: balance;
    padding-bottom: 8px;
  }

  .warp {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--size-fluid-3);
  }

  .description {
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-4);
    text-indent: 1rem;
    line-height: var(--font-lineheight-1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  img {
    border-radius: var(--radius-2);
    height: 350px;
    max-width: 100%;
    aspect-ratio: 1 / 1.414;
  }
</style>
