@layer base {
    body {
        font-family: "Urbanist Variable", sans-serif;
        min-block-size: 100%;
        background-color: var(--surface-1);
        color: var(--text-1);
    }

    section {
        display: grid;
        gap: var(--size-6);
    }

    article {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 90vw;
    }

    a {
        color: var(--link);
    }

    img {
        max-width: 100%;
        object-fit: cover;
    }

    hr {
        margin: var(--size-2);
        max-width: 40vw;
        width: 30%;
    }
}