article {
  margin-top: var(--size-4);
  margin-bottom: var(--size-1);
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

:where(h2, h3, h4, h5, h6) {
  margin-top: var(--size-3);
  margin-bottom: var(--size-2);
  min-width: 100%;
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-1);
}

:where(h1) {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-1);
  max-inline-size: var(--size-header-3);
  padding-bottom: var(--size-fluid-1);
}

:where(h2) {
  font-size: var(--font-size-5);
  max-inline-size: var(--size-header-2);
  padding-bottom: var(--size-fluid-1);
}

:where(h3) {
  font-size: var(--font-size-4);
}

:where(h4) {
  font-size: var(--font-size-3);
}

:where(h5) {
  font-size: var(--font-size-2);
}

:where(h2, h3, h4, h5, h6, dt) {
  max-inline-size: var(--size-header-3);
  padding-bottom: var(--size-fluid-1);
}

p {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: var(--size-fluid-1);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-4);
  text-indent: 1rem;
}

sup {
  font-size: var(--font-size-xs);
}

/* Image */

img {
  max-width: 100%;
  object-fit: cover;
}

/* hr */

hr {
  margin: var(--size-2);
  width: 30%;
  max-width: 40vw;
}

/* ol */

ol {
  list-style-type: decimal;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-fluid-2);
  padding: var(--size-fluid-1);
  margin: var(--size-fluid-1);
  background-color: var(--surface-2);
}

ol li p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-fluid-1);
}

ol em {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-fluid-1);
}

ol li {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-fluid-2);
  max-width: 95%;
}

/* Footnotes */

section.footnotes ol {
  list-style-type: decimal;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-4);
  background-color: var(--surface-1);
}

section.footnotes ol em {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-fluid-1);
}
section.footnotes ol li {
  padding-left: var(--size-fluid-2);
  max-width: 90%;
}

section.footnotes ol li p {
  margin-left: auto;
  padding-bottom: var(--size-fluid-1);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-4);
  text-indent: 0;
}

/* Cite Block */

.author {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  padding: var(--size-fluid-1);
  margin: var(--size-fluid-0);
  color: var(--_ink);
  border-color: var(--_accent-2);
  display: block;
  margin-top: var(--size-fluid-1);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-6);
  font-style: normal;
}

cite {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  padding: var(--size-fluid-1);
  margin: var(--size-fluid-0);
  color: var(--_ink);
  border-color: var(--_accent-2);
  display: block;
  margin-top: var(--size-fluid-1);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-6);
}

/* Blockquote */

blockquote {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  padding: var(--size-fluid-1);
  margin: var(--size-fluid-1);
  margin-inline: auto;
  max-width: 90%;
  color: var(--_ink);
  border-color: var(--_accent-2);
  background-color: var(--_bg);
  justify-self: flex-start;
}

blockquote p {
  margin: var(--size-fluid-1);
  text-align: left;
  font-size: var(--font-size-base);
  /* text-wrap: pretty; */
}

blockquote cite {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  padding: var(--size-fluid-1);
  margin: var(--size-fluid-0);
  color: var(--_ink);
  border-color: var(--_accent-2);
  display: block;
  margin-top: var(--size-fluid-1);
  font-size: var(--font-size-sm);
}
