.token:is(.property, .atrule > *) {
  color: var(--text-1);
  text-shadow: 0 1px 0 var(--surface-1);
}

[data-theme="light"] .token:is(.property, .atrule > *) {
  text-shadow: 0 1px 0 #d1d5db;
  /* gray-300 */
}

.token.selector {
  color: var(--text-2);
  text-shadow: none;
}

.token:is(.string, .attr-value) {
  color: #ccfbf1;
  /* teal-100 (approx teal-0) */
  text-shadow:
    0 0 10px #2dd4bf,
    /* teal-400 */
    0 0 25px #0f766e;
  /* teal-700 */
}

[data-theme="light"] .token:is(.string, .attr-value) {
  color: #581c87;
  /* purple-900 */
  text-shadow: 0 0 15px #581c87;
}

@media (dynamic-range: high) or (color-gamut: p3) {
  .token:is(.string, .attr-value) {
    text-shadow: 0 0 15px color(display-p3 0 1 0);
  }
}

.token:is(.comment, .punctuation) {
  color: #6b7280;
  /* gray-500 */
  text-shadow: none;
}

[data-theme="light"] .token:is(.comment, .punctuation) {
  color: #4b5563;
  /* gray-600 */
}

.token.slider-target {
  color: #000;
  color: initial;
}

.token.slider-target:before {
  content: "\2192";
  opacity: 0;
  position: absolute;
  inset-inline-start: calc(var(--size-4) / 2 - 0.5ch);
  animation:
    var(--animation-slide-in-right) forwards,
    var(--animation-fade-in) forwards;
}