@layer base {
    :where(h1) {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-6);
        line-height: var(--font-lineheight-1);
        max-inline-size: var(--size-header-3);
        padding-bottom: var(--size-fluid-1);
    }

    :where(h2) {
        font-size: var(--font-size-5);
        max-inline-size: var(--size-header-2);
        padding-bottom: var(--size-fluid-1);
    }

    :where(h3) {
        font-size: var(--font-size-4);
    }

    :where(h4) {
        font-size: var(--font-size-3);
    }

    :where(h5) {
        font-size: var(--font-size-2);
    }

    :where(h2, h3, h4, h5, h6) {
        font-weight: var(--font-weight-6);
        line-height: var(--font-lineheight-1);
        margin-bottom: var(--size-2);
        margin-top: var(--size-3);
        min-width: 100%;
    }

    :where(h2, h3, h4, h5, h6, dt) {
        max-inline-size: var(--size-header-3);
        padding-bottom: var(--size-fluid-1);
    }

    /* Paragraphs */
    p {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-4);
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding-bottom: var(--size-fluid-1);
        text-indent: 1rem;
    }

    sup {
        font-size: var(--font-size-xs);
    }

    /* Lists */
    ol {
        background-color: var(--surface-2);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-4);
        list-style-type: decimal;
        margin: var(--size-fluid-1);
        padding: var(--size-fluid-1);
        padding-block: var(--size-fluid-2);
    }

    ol li {
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        padding-left: var(--size-fluid-2);
    }

    ol li p {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-4);
        padding-block: var(--size-fluid-1);
    }

    ol em {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-4);
        padding-block: var(--size-fluid-1);
    }

    /* Footnotes */
    section.footnotes ol {
        background-color: var(--surface-1);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-4);
        list-style-type: decimal;
    }

    section.footnotes ol em {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-4);
        padding-block: var(--size-fluid-1);
    }

    section.footnotes ol li {
        max-width: 90%;
        padding-left: var(--size-fluid-2);
    }

    section.footnotes ol li p {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-4);
        margin-left: auto;
        padding-bottom: var(--size-fluid-1);
        text-indent: 0;
    }

    /* Blockquotes */
    blockquote {
        --_accent-1: var(--lime-5);
        --_accent-2: var(--lime-4);
        --_bg: var(--surface-2);
        --_ink: var(--text-1);

        background-color: var(--_bg);
        border-color: var(--_accent-2);
        color: var(--_ink);
        justify-self: flex-start;
        margin: var(--size-fluid-1);
        margin-inline: auto;
        max-width: 90%;
        padding: var(--size-fluid-1);
    }

    blockquote p {
        font-size: var(--font-size-base);
        margin: var(--size-fluid-1);
        text-align: left;
    }

    blockquote cite {
        --_accent-1: var(--lime-5);
        --_accent-2: var(--lime-4);
        --_bg: var(--surface-2);
        --_ink: var(--text-1);

        border-color: var(--_accent-2);
        color: var(--_ink);
        display: block;
        font-size: var(--font-size-sm);
        margin: var(--size-fluid-0);
        margin-top: var(--size-fluid-1);
        padding: var(--size-fluid-1);
    }

    /* Citations */
    cite {
        --_accent-1: var(--lime-5);
        --_accent-2: var(--lime-4);
        --_bg: var(--surface-2);
        --_ink: var(--text-1);

        border-color: var(--_accent-2);
        color: var(--_ink);
        display: block;
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-6);
        margin: var(--size-fluid-0);
        margin-top: var(--size-fluid-1);
        padding: var(--size-fluid-1);
    }

    .author {
        --_accent-1: var(--lime-5);
        --_accent-2: var(--lime-4);
        --_bg: var(--surface-2);
        --_ink: var(--text-1);

        border-color: var(--_accent-2);
        color: var(--_ink);
        display: block;
        font-size: var(--font-size-base);
        font-style: normal;
        font-weight: var(--font-weight-6);
        margin: var(--size-fluid-0);
        margin-top: var(--size-fluid-1);
        padding: var(--size-fluid-1);
    }
}