---
import type { CollectionEntry } from "astro:content";
import BookCard from "./BookCard.astro";

interface Props {
  books: CollectionEntry<"libros">[];
}

const { books } = Astro.props;
---

<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 md:gap-10"
>
  {books.map((book) => <BookCard book={book} />)}
</div>
