---
import CoverBook from "./CoverBook.astro";
const { title, coverBook, slug } = Astro.props;
---

<a href={`/libros/${slug}/`} class="card-book">
  <CoverBook imagePath={coverBook} altText={`Cover of ${title}`} />
  <h3>{title}</h3>
</a>
