---
import CoverBook from "./CoverBook.astro";
const { title, coverBook, slug } = Astro.props;
---

<a href={`/libros/${slug}/`} class="card-book">
  <CoverBook imagePath={coverBook} altText={`Cover of ${title}`} />
  <h3>{title}</h3>
</a>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-book {
    animation: fade-in linear;
    animation-range: entry 25% cover 50%;
    animation-timeline: view();
    border: 1px solid var(--surface-2);
    border-radius: var(--radius-2);
    color: inherit;
    display: block;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }

  .card-book:hover {
    transform: translateY(-5px);
  }

  .card-book h3 {
    background: var(--surface-1);
    font-size: var(--font-size-s);
    margin-top: -5px; /* Adjust to align with the image bottom */
    padding: var(--size-2);
    position: relative;
    text-align: center;
    z-index: 1;
  }
</style>
