---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  altText: string;
  loading?: "lazy" | "eager";
}

const { imagePath, altText, loading = "lazy" } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/coverblog/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/coverblog/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<div class="card">
  <Image
    src={images[imagePath]()}
    alt={altText}
    class="coverblog"
    loading={loading}
  />
</div>

<style>
  .coverblog {
    max-width: 100%; /* Asegurarse de que la imagen se ajuste al ancho de la columna */
    height: 14rem;
    width: 18rem;
    object-fit: cover;
    border-radius: var(--radius-3);
  }
</style>
