---
const { downloadBook } = Astro.props;
---

<!-- href={downloadBook} -->
<a href={downloadBook}>Descargar</a>

<style>
  a {
    position: relative;
    overflow: hidden;
    height: var(--size-fluid-3);
    padding: var(--size-fluid-1);
    border-radius: var(--border-size-4);
    background: var(--surface-4);
    background-size: 400%;
    color: var(--text-1);
    border: none;
    cursor: pointer;
  }
</style>
