---
import HeaderLink from "./HeaderLink.astro";
---

<div class="dropdown">
  <button class="dropbtn" id="dropdown menu" aria-label="Menu Principal"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-menu-2"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"
      ></path></svg
    >

    <div class="dropdown-content">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/libros">Libros</HeaderLink>
    </div>
  </button>
</div>

<style>
  a {
    margin: var(--size-0);

    &:hover {
      padding-left: var(--size-fluid-4);
      padding-right: var(--size-fluid-4);
      background-color: var(--surface-3);
      border-radius: var(--radius-2);
    }
  }
</style>
