---
import DarkToogle from "./DarkToogle.astro";
import Logo from "./Logo.astro";
import SocialFooter from "./SocialFooter.astro";
---

<footer>
  <a class="logo" aria-label="logo" href="/"><Logo /></a>

  <nav>
    <!-- <NavMenu />-->
    <SocialFooter />

    <DarkToogle />
  </nav>
</footer>

<style>
  .logo {
    min-width: 100px;
    width: 150px;
  }

  footer {
    align-items: center;
    background-color: var(--surface-2);
    bottom: 0;
    box-shadow: var(--shadow-3);
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-fluid-5);
    padding: var(--size-fluid-1);
    padding-inline: 5vw;
    width: 100%;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: end;
  }
</style>
