---
import NavMenu from "./NavMenu.astro";

import Dropdown from "./Dropdown.astro";
import Logo from "./Logo.astro";
---

<header>
  <a aria-label="logo" href="/"><Logo /></a>

  <nav>
    <NavMenu />

    <Dropdown />
  </nav>
</header>
