---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    align-items: center;
    color: var(--text-1);
    display: flex;
    font-size: var(--font-size-sm);
    justify-content: flex-end;
    padding-inline: var(--size-fluid-1);
    text-decoration: none;
    transition: color 0.2s var(--ease-2);
  }

  a:hover {
    color: var(--brand);
  }

  a.active {
    color: var(--brand);
    font-weight: var(--font-weight-6);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
</style>
