<section class="center container">
  <h1>
    ¿Estás preparado para algo intelectualmente estimulante y conmovedor para el
    alma?
  </h1>
  <p>
    Este sitio está dedicado a promover literatura que suscribe una filosofía
    distintivamente cristiana y principalmente a la metodología apologética del
    “padre del presuposicionalismo”, el fallecido (1987) Dr. Cornelius Van Til,
    y sus estudiantes, el fallecido (1995) Dr. Greg L. Bahnsen, y el Dr. John M.
    Frame. Otros “vantilianos” de interés incluyen pero no se limitan a: James
    Anderson, William Edgar, Scott Oliphint, James White, y Richard Pratt. De
    cualquier manera, ¡que Dios lo bendiga ricamente a través de este pequeño
    sitio que existe para promover la gloria de Dios solamente!
  </p>
</section>

<style>
  h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-7);
    line-height: var(--font-lineheight-1);
    margin-top: var(--size-fluid-3);
    max-inline-size: 70vw;
    text-align: center;
  }

  p {
    font-size: var(--font-size-base);
    max-inline-size: 80vw;
    text-align: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
</style>
