---
import HeaderLink from "./HeaderLink.astro";
---

<div class="navmenu">
  <HeaderLink href="/">Inicio</HeaderLink>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <HeaderLink href="/libros">Libros</HeaderLink>
</div>
