<div class="social socialicons">
  <!-- X/ Twitter -->
  <a
    href="https://twitter.com/Presuposicional/"
    aria-label="https://twitter.com/Presuposicional/"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-brand-x"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
      <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
    </svg></a
  >

  <!-- Facebook -->
  <a
    href="https://www.facebook.com/Presuposicionalismo/"
    aria-label="https://www.facebook.com/Presuposicionalismo/"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-brand-facebook"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
      ></path>
    </svg></a
  >
  <!-- Instagram -->
  <a
    href="https://www.instagram.com/Presuposicionalismo/"
    aria-label="https://www.instagram.com/Presuposicionalismo/"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-brand-instagram"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path>
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      <path d="M16.5 7.5l0 .01"></path>
    </svg>
  </a>
  <!-- Youtube -->
  <a
    href="https://www.youtube.com/channel/UC8SWa--sH2vDuaCxOFFQN6w"
    aria-label="https://www.youtube.com/channel/UC8SWa--sH2vDuaCxOFFQN6w"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-brand-youtube"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
      ></path>
      <path d="M10 9l5 3l-5 3z"></path>
    </svg>
  </a>
</div>

<style>
  a {
    color: var(--text-2);
  }
  .social {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-right: var(--size-fluid-4);
    @media (--md-n-below) {
      display: none;
    }
  }

  .icon {
    min-width: 24px;
    min-height: 24px;
    padding: 2px;
  }
</style>
